h2{
    font-size: 15px !important;
    color: white;
}
.spotify{
    position:fixed;
    width: 350px;
    height: 800px;
    background-color: black;
    padding-left: 20px;
    padding-top: 20px;
}
.demo{
    position: absolute;
    color: white;
}
.heading1{
    margin-left:50px;
    color: white;
    font-size: 30px;
}
.menu1{
    position: absolute;
    color: white;
    margin-top: 40px;
}
.menu2{
    position: absolute;
    color: white;
    margin-top: 30px;
}
.heading2{
    margin-left: 40px;
    color: white;
    margin-top: 30px;
}
.menu3{
    position: absolute;
    color: white;
    margin-top: 30px;
}
.menu4{
    position: absolute;
    color: white;
    margin-top: 30px;
}
.menu5{
    position: absolute;
    color: white;
    margin-top: 30px;
}
.heading2:hover{
    color: rgb(61, 32, 32);
    font-size: 60px;
}
h1{
    font-size: 30px !important;
    color: white;
}
h2{
    font-size: 13px !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.home{
    padding-top: 30px;
}
.piano{
    margin-left:350px;
    height:450px;
    background-image: url("next2.png");
    background-repeat: no-repeat;
    background-attachment:fixed;  
    background-size: cover;
}
.peace{
    font-size: 80px !important;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}
.para{
    position: absolute;
    color: white ;
}
.para1{
    color:  rgb(167, 158, 158);
    margin-top: 20px;
}
.body-color{
    height: 370px;
}
.div1{
 position:absolute;
 color: white;   
 height: 250px;
 margin-top:100px;
 margin-left: 50px;
}





#icon{
    width: 80px;
    cursor: pointer;
    position: absolute;
}
.div3{
    margin-left: 50px;
}
.icon2{
    margin-left: 100px !important;
    color: white;
    margin-top: 20px;
}
.icon1{
    margin-left: 20px;
    color: white;
    margin-top: 20px;
}




.div2{
    height: 700px;
    opacity: 0.8;
}
.div2{
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background: linear-gradient(top,rgb(31, 29, 29) 100%,rgb(31, 29, 29));
}
:root{
    --primary:rgb(31, 29, 29);
    --secondary:rgb(31, 29, 29) ;
}


table {
    border-collapse: collapse;
    width:90%;
    margin-left: 60px;
    margin-top: 30px;
    color: #ddd;
}
.il{
    margin-top: 20px;
    position: absolute;
    margin-left: 20px;
}
.io{
    margin-left: 75px;
    margin-top: 20px;
    position: absolute;
}
.os{
    margin-left: 75px;
    margin-top: 35px;
} 
.line{
    border-bottom: 1px solid white !important;
}
.num{
    position: absolute ;
    margin-top: 30px;
}
  



















